body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.start-button {
  left: unset;
}

.print-btn {
  position: absolute;
  right: 0;

  &__container {
    position: relative;
  }
}
